.logo {
  height: 60px;
  background-color: #293d3d;
  left: 0%;
}
.searchbar {
  background: none;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 60%;
  height: 40px;
  text-align: right;
  color: white;
}

.body {
  background: #e7eeef;
  margin: 0;
  padding: 0;
  background: white;
}

.searchicon {
  top: 10%;
  left: 57%;
  margin: 0;
  padding: 0;
  width: 120 px;
  position: absolute;
  height: 14px;
  justify-content: space-between;
}

.messageicon {
  position: initial;
  height: 20px;
}

.alerticon {
  height: 22px;
}

.settingsicon {
  height: 22px;
}

.vl {
  border-left: 2px solid grey;
  left: 50%;
  height: 25px;
  float: right;
  position: initial;
  margin-right: -3px;
  justify-content: space-between;
}

.vl2 {
  display: block;
  float: left;
  position: absolute;
  top: 0px;
  margin: 0px;
  left: 150px;
  border-left: 80px solid #293d3d;
  height: 700px;
}

body {
  margin: 50;
  padding: 10;
  justify-content: space-betweenauto;
}

.alg {
  font-family: "Open Sans", sans-serif;
  color: grey;

  margin: 0px;
  left: 50px;
}
